<%= render "shared/header" %>
<div class='main'>
  <div class="blog_body">
    <div class="content_blog">
      <div class="image_content">
        <% if @blog.blog_image == "" %>
          <%= image_tag"tasyumi_kiyoubinbou.png", class:"index_image" %>
        <% else%>  
          <img src="<%= @blog.blog_image %>" alt="" class="index_image">
        <%end%>
      </div>
      <div class="blog_header">
        <p><%= @blog.blog_title %></p>
        <% if user_signed_in? && current_user.id == @blog.user_id %>
          <div class="more">
            <ul class="more_list">
              <li>
                <%= link_to '編集', edit_blog_path(@blog.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', blog_path(@blog.id), method: :delete %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <p><%= safe_join(@blog.blog_text.split("\n"),tag(:br)) %></p>
      <div class="day"><%= l @blog.created_at %></div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>