<%= render "shared/header" %>
<div class='main'>
  <div class="post_body">
    <div class="contents row">
      <div class="container">
        <h3>お気に入りを編集する</h3>
        <%= form_with(model: @favorite, local: true) do |form| %> 
          <div class="edit_category">
            <select name="category_id">
              <!--<option value="">カテゴリーを選択してください</option>-->
              <% current_user.categories.each do |category| %>
                <option value=<%= category.id %>><%= category.category_name %></option>
              <% end %>
            </select>
          </div>
          <div class="img-upload">
            <p>GIF形式 (.gif）、JPEG形式（.jpg）、PNG形式（.png）※拡張子がない場合はつけてね！</p>
            <%= form.text_field :favorite_image, placeholder: "Image Url", id:"item-image" %>
          </div>
          <div class="form_title">
            <%= form.text_field :favorite_name, placeholder: "名前" %>
          </div>
          <div class="form_text">
            <%= form.text_area :favorite_profile, placeholder: "詳細" %>
          </div>
          <%= form.submit "SEND" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>