<%= render "shared/header" %>
<div class='main'>
  <div class="contents row">
    <div class="content_blog">
      <div class="image_content">
        <img src="<%= @favorite.favorite_image %>" alt="" class=index_image>
      </div>
      <div class="blog_header">
        <p><%= @favorite.favorite_name %></p>
        <% if user_signed_in? && current_user.id == @favorite.user_id %>
          <div class="more">
            <ul class="more_list">
              <li>
                <%= link_to '編集', edit_favorite_path(@favorite.id), method: :get %>
              </li>
              <li>
                <%= link_to 'メモ', new_favorite_memo_path(@favorite.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', favorite_path(@favorite.id), method: :delete %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <p><%= safe_join(@favorite.favorite_profile.split("\n"),tag(:br)) %></p>
    </div>
    <div class="memos">
      <h4>＜メモ一覧＞</h4>
      <% @memos.each do |memo| %>
        <div class="content_memo">
          <div class="image_content">
            <% if memo.memo_image == "" %>
              <%= image_tag"tasyumi_kiyoubinbou.png", class:"index_image" %>
            <% else%>  
              <img src="<%= memo.memo_image %>" alt="" class="index_image">
            <%end%>
          </div>
          <div class="memo_header">
            <p><%= memo.memo_title %></p>
          </div>
          <p><%= safe_join(memo.memo_text.split("\n"),tag(:br)) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>