<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      自分を見つける
    </h2>
    <p class='service-explain'>
      Interestはだれでもかんたんに投稿できる
    </p>
    <p class='service-explain'>
      ブログアプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <div class="plaza_body">
    <div class="contents row">
      <%= render partial: "shared/blog", collection: @blogs %>
      <ul class='favorite-lists'>
        <% @favorite.each do |favorite| %>
          <li class='list'>
            <div class="image_content">
              <img src="<%= favorite.favorite_image %>" alt="" class=list_image>
            </div>
            <%= link_to favorite.favorite_name, favorite_path(favorite.id), class: "favorite" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<div>
<%= render "shared/footer" %>