<div class='footer'>
  <div class='footer-contents'>
    <div class='interest-details'>
      <h2 class='footer-content-head'>Interestについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Interest利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='interest-details'>
      <h2 class='footer-content-head'>ブログ、お気に入りを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    </div>
      <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  <p>© Interest</p>
</div>