<%= render "shared/header" %>
<div class='main'>
  <div class="post_body">
    <div class="contents row">
      <div class="container">
        <h3>新しくカテゴリーを作る</h3>
        <%= form_with(model: @category, local: true) do |form| %> 
          <input name="category[user_ids][]" type="hidden" value=<%= current_user.id %>>
          <%= form.text_field :category_name, placeholder: "カテゴリーを投稿してね" %>
          <%= form.submit "SEND" %>
        <% end %>
      </div>
      <div class="container">
        <h3>ブログを投稿する</h3>
        <%= form_with(model: @blog, local: true) do |form| %> 
          <div class="blog_category">
            <select name="category_id">
              <option value="">カテゴリーを選択してください</option>
              <% current_user.categories.each do |category| %>
                <option value=<%= category.id %>><%= category.category_name %></option>
              <% end %>
            </select>
          </div>
          <div class="blog_title">
            <%= form.text_field :blog_title, placeholder: "タイトル" %>
          </div>
          <div class="blog_text">
            <%= form.text_area :blog_text, placeholder: "内容" %>
          </div>
          <%= form.submit "SEND" %>
        <% end %>
      </div>
      <div class="container">
        <h3>お気に入りを投稿する！</h3>
      </div>
    </div>
    <div class="contents row">
      <div class="container">
        <h3><%= current_user.user_name%>のカテゴリー一覧</h3>
      </div>
      <div class="categories_list">
        <% current_user.categories.each do |category| %>
          <p><%= category.category_name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>