<%= render "shared/header" %>
<div class='main'>
  <div class="post_body">
    <div class="contents row">
      <div class="content_blog">
        <div class="image_content">
          <img src="<%= @favorite.favorite_image %>" alt="" class=index_image>
        </div>
        <div class="blog_header">
          <p><%= @favorite.favorite_name %></p>
        </div>
        <p><%= safe_join(@favorite.favorite_profile.split("\n"),tag(:br)) %></p>
      </div>
      <div class="post_form">
        <h3>メモを投稿する</h3>
        <%= form_with(model: [@favorite, @memo], local: true) do |form| %> 
          <%= render 'shared/error_messages', model: form.object %>
          <div class="img-upload">
            <p>GIF形式 (.gif）、JPEG形式（.jpg）、PNG形式（.png）※拡張子がない場合はつけてね！</p>
            <%= form.text_field :memo_image, placeholder: "Image Url", id:"item-image" %>
          </div>
          <div class="form_title">
            <%= form.text_field :memo_title, placeholder: "タイトル" %>
          </div>
          <div class="form_text">
            <%= form.text_area :memo_text, placeholder: "内容" %>
          </div>
          <%= form.submit "SEND" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>